<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/j2ee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
   version="2.4"> 

  <display-name>Ajax Shopping-Cart WebApp</display-name>

  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>developerworks.ajax.servlet.CartServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/cart.do</url-pattern>
  </servlet-mapping>
</web-app>


